# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/public/assets/*
/interface/jitsi/jitsi.php
/portal/jitsi/jitsi.php
!/public/assets/modified
/.docs/.out/*

# ignore a single file
textbelt.php

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/.vscode/*
/nbproject/*
.DS_Store
.buildpath
.project
.settings


# testing
.phpunit.result.cache
